<div class="pokemon-card">
<!-- header -->
  <div class="card-header">
    <h2 class="pokemon-id">#{{ id }}</h2>
    <p class="pokemon-name">{{ name }}</p>
    <p class="pokemon-hp">HP: {{ hp }}</p>
  </div>

  <!-- imagem -->
  <div class="card-image">
    <img class="pokemon-sprite" [src]="sprite" alt="pokemon img">
  </div>

  <div class="pokemon-types">
    <span *ngFor="let t of type" class="pokemon-type">{{ t }}</span>
  </div>

    <!-- habilidades -->
  <div class="abilities">
    <h3>Abilities</h3>
    <ul>
      <li *ngFor="let ability of abilities">{{ ability }}</li>
    </ul>
  </div>

  <!-- moves -->
  <div class="moves">
    <h3>Moves</h3>
    <ul>
      <li *ngFor="let move of moves">{{ move }}</li>
    </ul>
  </div>

</div>
