<div class="header-container">
    <div class="header-left">
        <img class="header-pokemon-image" src="/images/bulbasaur.png" alt="bulbasaur">
        <img class="header-pokemon-image" src="/images/gengar.png" alt="gengar">
        <img class="header-pokemon-image" src="/images/pikachu.png" alt="pikachu">
    </div>
    <img class="header-logo-image" src="/images/pokemonLogo.png" alt="logo">
    <div class="header-right">
        <img class="header-pokemon-image" src="/images/squirtle.png" alt="squirtle">
        <img class="header-pokemon-image" src="/images/charmander.png" alt="charmander">
        <img class="header-pokemon-image" src="/images/umbreon.png" alt="umbreon">
    </div>
</div>