<div class="search-container">
    <form class="search-form" [formGroup]="searchForm" (ngSubmit)="onSubmit()">
        <!-- From Uiverse.io by 0xnihilism --> 
        <div class="pokemon-search-container">
            <input
                placeholder="TYPE HERE"
                class="pokemon-input smooth-type"
                type="text"
                formControlName="name"
            />
            <label class="pokemon-search-label">SEARCH A POKEMON</label>
        </div>
        <button class="search-button" type="submit">
            <img src="/images/pokeball.png" alt="pokeball" class="search-image">
        </button>
        <button class="clear-button" type="button" (click)="onClear()">X</button>
    </form>

    <!-- erro -->
    @if (errorMessage) {
        <p class="error-message">{{ errorMessage }}</p>
    }

    <div class="card-container">
        @if (showCard) {
            <app-card 
                [id]="id"
                [name]="pokemonName" 
                [sprite]="sprite"
                [hp]="hp"
                [type]="type"
                [abilities]="abilities"
                [moves]="moves"
            ></app-card>
        }
    </div>
</div>