<div class="search-container">
    <form class="search-form">
        <!-- From Uiverse.io by 0xnihilism --> 
        <div class="pokemon-search-container">
            <input
                placeholder="TYPE HERE"
                class="pokemon-input smooth-type"
                type="text"
            />
            <label class="pokemon-search-label">SEARCH A POKEMON</label>
        </div>
        <button class="search-button" type="submit">
            <img src="/images/pokeball.png" alt="pokeball" class="search-image">
        </button>
    </form>
</div>